*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container{
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
    height: 50Vh;
}
.heading{
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
}
.question-container{
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
}
li{
    list-style: none;
    border: 1px solid black;
    line-height: 30px;
    padding-left: 40px;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 8px;
    &:hover{
        background-color: #e7e7e7;
    }
}
.btn{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
}
.btn>button{
    padding: 13px 17px;
    border: none;
    background-color: #04AA6D;
    color: white;
    border-radius: 6px;
    &:hover{
        background-color: #05a95c;
    }
}